.categoryList {
  margin-top: 30px;
  width: 100%;
}

.container {
  padding: 20px 10px;
  width: 80%;
  margin: auto;
}

.cardList {
  display: flex;
  width: 80%;
  margin: auto;
  padding: 10px;
}
@media (max-width: 500px) {
  .cardList {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 0;
  }
}
.catDividerTitle {
  position: relative;
}

.catDividerTitle span {
  position: relative;
  font-size: 1.2rem;
  text-transform: uppercase;
  z-index: 2;
  padding: 0 10px;
  /* background: #f5f5f5; */
  display: inline-block;
}

.catDividerTitle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  background: #565656;
  opacity: 0.3;
  width: 82%;
  height: 2px;
  transform: translateY(-50%);
  z-index: 0;
  margin: auto 182px;
}

.mt-category-card {
  min-height: 200px;
  display: flex;
  flex-direction: column;
}
.active {
  background-color: #703b09;
  width: 14%;
}
.disActive {
  background-color: grey;
  width: 14%;
}
.categoryBtn {
  width: 14%;
  border: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  background: #703b09;
  color: white;
  border-radius: 10px;
  padding: 5px 5px;
  margin: auto 16px;
}

.switch {
  background-color: #18ab29 !important;
}
@media (max-width: 500px) {
  .catDividerTitle:before {
    display: none;
  }
  .categoryBtn {
    width: auto;
  }
}
